# Browsers that we support

last 2 Chrome versions
last 2 Firefox versions
last 2 safari versions
last 2 android versions
last 2 ios versions
last 2 edge versions
last 2 ChromeAndroid versions
last 2 FirefoxAndroid versions
last 2 Samsung versions
ie 11
