.kss-colors-container {
  margin: 0;
  padding-left: 0;
  font-family: 'Source Sans Pro', sans-serif;

  @include mq(min, 568px) {
    margin-left: -15px;
  }
}

.kss-color {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 280px;
  margin: 0 auto;
  margin-top: 15px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0 , 0, .1);

  @include mq(min, 568px) {
    display: inline-block;
    width: 225px;
    margin-left: 15px;
  }

  &-description {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px;
    background: $white;
  }

  &-name {
    font-weight: 700;
    font-size: em(18px);
    display: block;
    margin-bottom: 5px;
    color: #434343;
  }

  &-var,
  &-code {
    display: block;
    min-height: 22px;
    font-size: em(14px);
    line-height: 1.2;
    color: #666;
  }

  &-label {
    font-weight: 700;
    color: #434343;
  }

}
