// primary theme color of the styleguide.
$kss-orange:       #f2530f;
$kss-red:          #ed3224;

// secondary colors.
$black:           #222;
$gray:            #ccc;
$white:           #fff;
$charcoal:        #333;

// utility colors.
$kss-blue:            #3498db;


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
