{% extends "layout.twig" %}

{% set page_title = "Index Page" %}

{% block body %}
  <!-- index.twig -->
  <h1>Pages:</h1>
  <ul>
    <li><a href="home.html" target="_blank">Home</a></li>
    <li><a href="/styleguide" target="_blank">Living Styleguide</a></li>
    <li><a href="/accessibility" target="_blank">Accessibility Report</a></li>
    <li><a href="form-validation.html" target="_blank">Form Validation Example</a></li>
  </ul>
{% endblock %}
